body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flag {
  width: 15rem;
}

header {
  width: 95rem;
  height: 20rem;
  background-image: url('./data/tumblr_muocirCWun1qb94kko1_r1_1280.png');
}

.title {
  font-size: 10rem;
}

.map { 
  height: 300px;
  width: 500px;

 }

.marginCard {
  margin-right: 10rem;
  margin-left: -10rem;
}

 form {
  margin-right: 10rem;
  margin-left: -10rem;
} 